[data-theme='dark'] {
  --flvrs-primary-100: hsl(274, 88%, 32%);
  --flvrs-primary-200: hsl(274, 88%, 42%);
  --flvrs-primary-300: hsl(274, 88%, 50%);
  --flvrs-primary-400: hsl(274, 88%, 65%);
  --flvrs-primary-500: hsl(274, 90%, 76%);
  --flvrs-primary-600: hsl(274, 90%, 88%);
  --flvrs-primary-700: hsl(274, 90%, 96%);

  --flvrs-neutral-100: hsl(220, 22%, 20%);
  --flvrs-neutral-200: hsl(220, 22%, 30%);
  --flvrs-neutral-300: hsl(220, 22%, 40%);
  --flvrs-neutral-400: hsl(220, 22%, 52%);
  --flvrs-neutral-500: hsl(220, 22%, 62%);
  --flvrs-neutral-600: hsl(220, 22%, 74%);
  --flvrs-neutral-700: hsl(220, 22%, 86%);
  --flvrs-neutral-800: hsl(220, 22%, 94%);
  --flvrs-neutral-900: hsl(0, 0%, 100%);

  --flvrs-focus-ring-color: hsl(220, 22%, 62%);
}
