[data-theme='dark'] {
  --flvrs-primary-100: hsl(200, 74%, 28%);
  --flvrs-primary-200: hsl(200, 74%, 40%);
  --flvrs-primary-300: hsl(200, 74%, 53%);
  --flvrs-primary-400: hsl(200, 74%, 66%);
  --flvrs-primary-500: hsl(200, 74%, 79%);
  --flvrs-primary-600: hsl(200, 74%, 89%);
  --flvrs-primary-700: hsl(200, 74%, 95%);

  --flvrs-neutral-100: hsl(0, 7%, 3%);
  --flvrs-neutral-200: hsl(24, 6%, 17%);
  --flvrs-neutral-300: hsl(30, 3%, 26%);
  --flvrs-neutral-400: hsl(36, 2%, 43%);
  --flvrs-neutral-500: hsl(30, 2%, 58%);
  --flvrs-neutral-600: hsl(30, 4%, 78%);
  --flvrs-neutral-700: hsl(30, 5%, 92%);
  --flvrs-neutral-800: hsl(0, 9%, 98%);
  --flvrs-neutral-900: hsl(0, 0%, 100%);

  --flvrs-focus-ring-color: hsla(189, 69%, 83%, 0.75);
}
