:root, [data-theme='default'] {
  --flvrs-primary-100: hsl(189, 69%, 83%);
  --flvrs-primary-200: hsl(191, 75%, 66%);
  --flvrs-primary-300: hsl(197, 64%, 55%);
  --flvrs-primary-400: hsl(203, 65%, 44%);
  --flvrs-primary-500: hsl(208, 70%, 34%);

  --flvrs-neutral-100: hsl(0, 0%, 100%);
  --flvrs-neutral-200: hsl(0, 9%, 98%);
  --flvrs-neutral-300: hsl(30, 5%, 92%);
  --flvrs-neutral-400: hsl(30, 4%, 78%);
  --flvrs-neutral-500: hsl(30, 2%, 58%);
  --flvrs-neutral-600: hsl(36, 2%, 43%);
  --flvrs-neutral-700: hsl(30, 3%, 26%);
  --flvrs-neutral-800: hsl(24, 6%, 17%);
  --flvrs-neutral-900: hsl(0, 7%, 3%);

  --flvrs-success-100: hsl(161, 73%, 75%);
  --flvrs-success-200: hsl(161, 70%, 58%);
  --flvrs-success-300: hsl(161, 75%, 43%);
  --flvrs-success-400: hsl(161, 92%, 33%);
  --flvrs-success-500: hsl(161, 94%, 27%);

  --flvrs-danger-100: hsl(0, 77%, 74%);
  --flvrs-danger-200: hsl(0, 76%, 61%);
  --flvrs-danger-300: hsl(0, 65%, 50%);
  --flvrs-danger-400: hsl(0, 82%, 43%);
  --flvrs-danger-500: hsl(0, 98%, 35%);

  --flvrs-warn-100: hsl(41, 100%, 88%);
  --flvrs-warn-200: hsl(41, 100%, 77%);
  --flvrs-warn-300: hsl(41, 94%, 63%);
  --flvrs-warn-400: hsl(36, 89%, 55%);
  --flvrs-warn-500: hsl(36, 94%, 46%);

  --flvrs-focus-ring-color: hsla(208, 70%, 34%, 0.5);
}
