@use '../abstracts/mixins' as *;

.flvrs-checkbox-toggle {
  --flvrs-checkbox-toggle-size: 2rem;
  --flvrs-toggle-width: var(--flvrs-checkbox-toggle-size);
  --flvrs-toggle-height: calc(var(--flvrs-checkbox-toggle-size) / 2);
  --flvrs-toggle-padding: calc(var(--flvrs-checkbox-toggle-size) / 16);
  --flvrs-handle-height: calc((var(--flvrs-checkbox-toggle-size) / 2) * 0.75);
  --flvrs-handle-width: calc((var(--flvrs-checkbox-toggle-size) / 2) * 0.25);

  --flvrs-track-color-unchecked: var(--flvrs-neutral-300);
  --flvrs-track-color-checked: var(--flvrs-primary-400);
  --flvrs-handle-color: var(--flvrs-neutral-100);

  display: inline-flex;
  align-items: center;

  &--stacked {
    flex-direction: column;
    align-items: flex-start;

    .flvrs-checkbox-toggle__label {
      margin-bottom: var(--flvrs-gap-2xs);
    }
  }

  &__label {
    color: var(--flvrs-neutral-800);
    margin-left: var(--flvrs-gap-xs);
  }

  &__label--faux {
    display: inline-block;
    line-height: 0;
    width: var(--flvrs-toggle-width);
    height: var(--flvrs-toggle-height);
    cursor: pointer;
    transition: background-color var(--flvrs-time-xs) var(--flvrs-ease-out-quick);

    &::before {
      content: '';
      display: inline-block;
      height: var(--flvrs-handle-height);
      width: var(--flvrs-handle-width);
      background-color: var(--flvrs-handle-color);
      transition: transform var(--flvrs-time-xs) var(--flvrs-ease-out-quick);
    }
  }

  &__checkbox {
    @include flvrs-visually-hidden();

    &:disabled + .flvrs-checkbox-toggle__label--faux {
      --flvrs-track-color-unchecked: var(--flvrs-neutral-200);
      --flvrs-track-color-checked: var(--flvrs-neutral-500);
      cursor: not-allowed;
    }

    &:focus-visible + .flvrs-checkbox-toggle__label--faux {
      box-shadow: var(--flvrs-shadow-focus-ring);
    }

    &:not(:checked) + .flvrs-checkbox-toggle__label--faux {
      background-color: var(--flvrs-track-color-unchecked);
    }

    &:checked + .flvrs-checkbox-toggle__label--faux {
      background-color: var(--flvrs-track-color-checked);
    }

    &:not(:checked) + .flvrs-checkbox-toggle__label--faux::before {
      transform: translate(
        calc((var(--flvrs-handle-height) / 2)),
        var(--flvrs-toggle-padding)
      );
    }

    &:checked + .flvrs-checkbox-toggle__label--faux::before {
      transform: translate(
        calc(var(--flvrs-toggle-width) - var(--flvrs-handle-width) - (var(--flvrs-handle-height) / 2)),
        var(--flvrs-toggle-padding)
      );
    }
  }
}
