*, *::before, *::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, video, svg {
  max-width: 100%;
  max-inline-size: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
  margin: 0;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
